*~
.nfs*
*.o
.dropbox*
*.eps
*.top
*.DS_Store
*.DSYM*
*.a
version.f
*.mod
*.log
*.tlog
*.exe

#Thumbnail-Dateien von Windows
Thumbs.db

#Temporäre/Build-Dateien von Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

/.vs/SimpleNN/v15/.suo
/.vs/SimpleNN/v15/Browse.VC.db
/.vs/SimpleNN/v15/Browse.VC.opendb
/.vs/SimpleNN/v15/ipch/AutoPCH/46de6e728ce4f784/NN.ipch
/.vs/SimpleNN/v15/ipch/AutoPCH/4d517d642b0830f9/SIMPLENN.ipch
